<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input
              type="email"
              label="Email"
              labelPlacement="floating"
              #email="ngModel"
              ngModel
              email
              required
              name="email"
            ></ion-input>
          </ion-item>

          @if (email.invalid && email.touched) {
          <ion-item lines="none">
            <ion-label color="danger">Unesi ispravnu email adresu.</ion-label>
          </ion-item>
          }

          <ion-item>
            <ion-input
              type="password"
              label="Password"
              labelPlacement="floating"
              ngModel
              minlength="7"
              required
              #password="ngModel"
              name="password"
            >
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          @if (password.invalid && password.touched) {
          <ion-item lines="none">
            <ion-label color="danger">Minimum 7 karaktera.</ion-label>
          </ion-item>
          }
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="logInForm.invalid"
            >Log in</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col size-sm="6">
          <a routerLink="/register">Nemaš nalog? Registruj se</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
